@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-seif;
    font-size: 16px;
    font-weight: normal;
    background: #FFF;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}


.header {
    background: #0F292F;
    color: #FFF;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.95;
}

.header h1 {
    margin: 0;
    padding: 25px 0;
    text-align: center;
    font-style: italic;
    letter-spacing: 20px;
    font-size: 30px;
}

@media (max-width: 999px) {
    .header h1 {
        font-size: 30px;
        letter-spacing: 10px;
    }
    
}

@media (max-width: 555px) {
    .header h1 {
        padding: 0 0 4px 0;
        font-size: 20px;
    }
    
}


.sidebar {
    float: left;
    margin: 4px 0;
    padding: 0px;
    width: 260px;
    height: 1000px;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 50px 10px;
    height: 100%;
    background: #0F292F;
    color: #FFF;
    text-align: center;
    letter-spacing: 5px;
    font-size: 20px;
    line-height: 60px;
    position: fixed;
    opacity: 0.95;
}

.sidebar ul a {
    display: block;
    width: 240px;
    color: #FFF;
    text-decoration: none;
}

.active {
    background: blue;
}

.sidebar ul a:hover:not(.active) {
    background: #555;
}

@media (max-width: 999px) {
    .sidebar {
        width: 100%;
        height: 100px;
        margin-bottom: 10px;
    }
    .sidebar ul {
        padding: 0;
        letter-spacing: 2px;
        line-height: 30px;
        font-size: 16px;
        height: auto;
        
    }
    .sidebar li {
        display: inline-block;
        padding: 0;
        margin: 0;
        line-height: 40px;
    }
    .sidebar ul a {
        width: 165px;

    }
    
}

@media (max-width: 555px) {
    .sidebar ul {
        font-size: 12px;
    }
    .sidebar li {
        line-height: 30px;
    }
    
}

@media (max-width: 334px) {
    .sidebar ul a {
        width: 100px;
    }
}


h3 {
    border-bottom: 1px solid black ;
}

h4 {
    text-align: center;
    font-style: italic;
    color: gray;
}



.content{
    margin: 120px 5px 20px 25%;
    padding: 20px;

}

.card {
    text-align: center;
    padding: 10px 0px 10px 10px;
}

img {
    width: 400px;
    height: 300px;
    padding: 5px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25%);
}

@media (max-width: 480px) {
    img {
        width: 270px;
        height: 180px;
    }
    
}

@media (max-width: 334px) {
    img {
        width: 170px;
        height: 100px;
    }
    
}


.link {
    margin: 50px;
}

.link p {
    text-align: center;
    font-style: italic;
    color: gray;
}

.link a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 10px 0;
    padding: 6px;
    background: #555;
    color: #FFF;
}

.link a:hover {
    background: #0F292F;
}


@media (max-width: 999px) {
    .content {
        margin: 120px 5px 20px 5px;
    }
    
}

@media (max-width: 555px) {
    .content {
        margin: 48px 5px 20px 5px;
    }
    
}

@media (max-width: 315px) {
    .content {
        margin: 72px 5px 20px 5px;
    }
    
}



.footer {
    margin: 0;
    padding: 1px 10px;
    background: #0F292F;
    color: #FFF;
    font-style: italic;
    letter-spacing: 10px;
    text-align: right;
}

.footer h3 {
    border-bottom: none;
    margin: 0;
    padding: 0;

}

@media (max-width: 555px) {
    .footer {
        padding: 0 3px;
        font-size: 10px;
        letter-spacing: 5px;
    }
}
